@using Microsoft.AspNet.Identity

@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="SuccessfulPaymentView" class="body">
    <div class="container-fluid">
        <div class="row">
            <img id="PremUserId" src="~/Helper/Images/PremiumUser.jpg" />
        </div>
        <div class="row">
            <button id="premBtn" class="btn btn-lg btn-primary">
                @Html.ActionLink("Back to your profile " + User.Identity.GetUserName() + "?", "Details", "ApplicationUser", new { Id = User.Identity.GetUserId() }, new { title = "View Profile" })
            </button>
        </div>
    </div>
</body>




