@{
    ViewBag.Title = "About";
}

@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="AboutView" class="body">
    <div class="container-fluid">

        <div id="TitleContainer" class="row">
            <div class="form-group col-md-12">
                <img id="CheersBeerImg" src="~/Helper/Images/4.png" alt="Alternate Text" />
                <img id="AboutUs" src="~/Helper/Images/about_us.png" alt="Alternate Text" />
                <img id="CheersBeerImg" src="~/Helper/Images/4.png" alt="Alternate Text" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <p>
                    UberTap is a web application for the social drinker and the ale enthusiast.
                    Our vision describes an experience designed to draw people away from the conventional 
                    kiosk 1-euro beers and introduce them to the world of Greek ale and microbreweries
                    available around them. Join us in redefining the word “beer” and draw out its fullest potential!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <img id="DrunkUserImg" src="~/Helper/Images/9.png" alt="Alternate Text" />
            </div>
            <div class="form-group col-md-6">
                <img id="ForBeerEnthusiastImg" src="~/Helper/Images/UberTapp_for_the_Beer_Enthusiast.png" alt="Alternate Text" />
                <ul>
                    <li>Explore nearby popular venues, events, and beers!</li>
                    <li>Not sure where to grab a pint? UberTapp shows you popular venues nearby and what’s on tap!</li>
                    <li>Not sure where to find a beer event? Say nomore!</li>
                    <li>Live Chat with Venue Owners!</li>
                    <li>Premium User Account (Earn discounts in different Venues, only with 10 Euros)!</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <img id="VenueSignImg" src="~/Helper/Images/8.png" alt="Alternate Text" />
            </div>

            <div class="form-group col-md-6">
                <img id="ForBusinessImg" src="~/Helper/Images/UberTapp_for_business.png" alt="Alternate Text" />
                <ul>
                    <li>Maximize visibility to drive new customers to your venue!</li>
                    <li>Quickly share your beer menus with the world!</li>
                    <li>Chat with Customers to keep them up-to-date!</li>
                    <li>Share Events / Happenings!</li>
                </ul>
            </div>
        </div>
       
    </div>
</body>
