@using Microsoft.AspNet.Identity
@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="ContactView" class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-8">
                <img id="ContactImg" src="~/Helper/Images/contact.png" alt="Alternate Text" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <address class="address">
                    <strong>Support and Information:</strong> <a href="mailto:ubertappcb11@gmail.com">ubertappcb11@gmail.com</a><br />
                    <br />
                    <strong>Marketing:</strong> <a href="mailto:akisrepanas135@gmail.com">akisrepanas135@gmail.com</a><br />
                    <br />

                    <br />
                    <strong><u>Development Team:</u></strong><br />
                    <br />

                    <strong>Pavlos Antonakos:</strong> <a href="mailto:pauladonak@gmail.com">pauladonak@gmail.com</a><br />
                    <br />
                    <strong>Konstantinos Chatzis:</strong> <a href="mailto:kmchatzis@gmail.com">kmchatzis@gmail.com</a><br />
                    <br />
                    <strong>Christos Grigoriadis:</strong> <a href="mailto:chrisgrig33@gmail.com">chrisgrig33@gmail.com</a><br />
                    <br />
                    <strong>Lambros Mazis:</strong> <a href="mailto:lambrosmazis@yahoo.com">lambrosmazis@yahoo.com</a><br />
                    <br />
                    <strong>Athanasios Repanas:</strong> <a href="mailto:akisrepanas135@gmail.com">akisrepanas135@gmail.com</a><br />
                    <br />
                </address>
            </div>
            <div class="form-group col-md-6">
                <img id="PhoneImg" src="~/Helper/Images/phone.png" alt="Alternate Text" />
            </div>
        </div>

        @*<div class="button form-group col-md-4">
            <button class="btn btn-sm btn-primary">@Html.ActionLink("Report An Issue", "EmailForm", "Home", new { Id = User.Identity.GetUserId() }, new { title = "Contact Us" })</button>
        </div>*@
    </div>
</body>
