@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="IndexView" class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-md-12">
                <img id="LowerAhirdsAssetsImg" src="~/Helper/Images/Lower_thirds_assets.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</body>