@model UberTappDeveloping.ViewModels.EventsViewModel
@using UberTappDeveloping.Helper.Roles
@*<style></style>*@
<link href="~/Content/KotsDisplay.css" rel="stylesheet" />
@*<style></style>*@

<body id="EventsView" class="body">
    <div class="container-fluid">
        @if (Model.IsIndexAction)
        {
            <div id="TitleContainer" class="row">
                <div class="form-group col-md-12">
                    <img id="CrateBottleImg" src="~/Helper/Images/6.png" alt="Alternate Text" />
                    <img id="EventsImg" src="~/Helper/Images/events.png" alt="Alternate Text" />
                    @*<h2>All Events</h2>*@
                    <img id="CrateBottleImg" src="~/Helper/Images/6.png" alt="Alternate Text" />
                </div>
            </div>
        }
        else
        {
            <div id="TitleContainer" class="row">
                <div class="form-group col-md-12">
                    <img id="CrateBottleImg" src="~/Helper/Images/6.png" alt="Alternate Text" />
                    <img id="EventsImg" src="~/Helper/Images/events.png" alt="Alternate Text" />
                    @*<h2><h2>My Events</h2>*@
                    <img id="CrateBottleImg" src="~/Helper/Images/6.png" alt="Alternate Text" />
                </div>
            </div>
        }

        <div id="TableContainer">
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Venue</th>
                        @if (Model.IsIndexAction)
                        {
                            <th>Status</th>
                        }
                        else
                        {
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var evt in Model.Events)
                    {
                        <tr>
                            <td class="date">@evt.Date.ToString("dd MMMM yyyy") </td>
                            <td>@evt.Description</td>
                            <td>@evt.Venue.Name</td>
                            @if (!Model.IsIndexAction || User.IsInRole(RoleNames.Admin))
                            {
                                if (!evt.IsCanceled)
                                {
                                    <td class=" flex-area"><a class="btn btn-info" href="@Url.Action("Edit", "Event",new { id = evt.Id})">Edit</a></td>
                                }
                                else
                                {
                                    <td class=" flex-area"><span class="btn btn-danger">Canceled</span></td>
                                }

                            }
                            else
                            {
                                if (evt.IsCanceled)
                                {
                                    <td class=" flex-area"><span class="btn btn-danger">Canceled</span></td>
                                }
                                else
                                {
                                    <td class=" flex-area"><span class="btn btn-info">Active</span></td>
                                }
                            }

                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</body>

@section Scripts {

    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/datatables-moment.js"></script>
    <script>

        var now = moment(new Date(2018, 11, 24)).format("MM-DD-YYYY");
        console.log(now);


        console.log($("tbody .date").text());

        for (var date of $("tbody .date")) {//Date Sort with Datatables
            $(date).html(moment(new Date($(date).text())).format("MMMM, dddd DD YYYY"));
        }

        $.fn.dataTable.moment("MMMM, dddd DD YYYY"); // has to be the same date format for date sort to work
        $("table").DataTable();
    </script>











}